.faq-section {
}

.faq-section__wrap {
  display: grid;
  grid-template-columns: 348px 1fr;
  gap: 136px;
}

.faq-section__text {
  margin-top: 16px;
  color: #565656;
}

.faq-section__btn {
  margin-top: 32px;
}

@media screen and (max-width: 1440px) {
}

@media screen and (max-width: 1200px) {
  .faq-section__wrap {
    gap: 16px;
  }

  .faq-section__text {
    font-size: 14px;
    line-height: 120%;
  }
}

@media screen and (max-width: 768px) {
  .faq-section__wrap {
    grid-template-columns: repeat(1, 1fr);
    gap: 24px;

    .h2 {
      br {
        display: none;
      }
    }
  }

  .faq-section__left {
    display: flex;
    align-items: flex-end;
  }

  .faq-section__btn {
    flex-shrink: 0;
    margin-left: auto;
    display: none;
  }

  .faq-section__text {
    margin-top: 10px;
    max-width: none;
    width: 100%;
  }
}

@media screen and (max-width: 550px) {
}

@media screen and (max-width: 320px) {
}
