.services-section {
    // margin-top: 240px;
}

.services-section__top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.services-items {
    margin-top: 32px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
}

.services-item {
    border-radius: 4px;
    border: 1px solid #d9d9d9;
    padding: 20px;
    transition: all 0.3s ease;

    &:hover {
        border: 1px solid $bgAccent;
    }
}

.services-item__title {
    font-family: "Forum", serif;
    font-size: 24px;
    font-style: normal;
    color: $textBlue;
    font-weight: 400;
    line-height: 100%;
}

.services-item__text {
    margin-top: 8px;
    overflow: hidden;
    min-height: 68px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    margin-top: 16px;
}

.services-item__price {
    color: $textAccent;
    font-family: "Forum", serif;
    margin-top: 16px;
}

@media screen and (max-width: 1200px) {
    .services-items {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .services-items {
        grid-template-columns: repeat(2, 1fr);
    }

    .services-section__top {
        .btn {
            display: none;
        }
    }
}

@media screen and (max-width: 550px) {
    .services-items {
        grid-template-columns: repeat(1, 1fr);
    }
}
