$bgAccent: #ae7d26;
$bgAccentHover: #deae59;
$bgBlack: #1b1b1b;
$bgWhite: #ffffff;
$bgBlue: #153252;

$textAccent: #ae7d26;
$textBlack: #1b1b1b;
$textWhite: #ffffff;
$textBlue: #153252;
$textGray: #b1b1b1;

@media screen and (max-width: 1440px) {
}

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 550px) {
}

@media screen and (max-width: 320px) {
}
