.doctors-hero {
    .divider {
        margin-top: 32px;
    }
}

.dectors-hero__title {
}

.doctors-hero__top {
    display: flex;
    align-items: flex-end;
    margin-top: 32px;
}

.doctors-hero__text {
    max-width: 710px;
    width: 100%;
    color: $textGray;
}

.doctors-hero__btn {
    margin-left: auto;
}

.team-section__top {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.team-section__text {
    max-width: 470px;
    width: 100%;
    color: $textGray;
}

.team-section__tags {
    margin-top: 40px;
}

.team-section__items {
    margin-top: 62px;


}

.team-section__items__title {
    font-size: 24px;
}

.doctors-section__items {
    margin-top: 32px;
}

@media screen and (max-width: 1440px) {

}

@media screen and (max-width: 1200px) {
    .doctors-hero__top {
        flex-direction: column;
        align-items: flex-start;
        gap: 32px;
        margin-top: 16px;
    }

    .team-section__top {
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
    }

    .doctors-section__items {
        margin-top: 24px;
    }
}

@media screen and (max-width: 768px) {
    .team-section__items__title {
        font-size: 18px;
    }
}

@media screen and (max-width: 550px) {
}

@media screen and (max-width: 320px) {
}
