.section-news {
  .divider {
    margin-top: 24px;
  }
}

.section-reviews {
  margin-top: 32px !important;
}

.section-single-news {
}

.section-news__description {
  display: flex;
  align-items: flex-start;
  margin-top: 16px;
}

.news-section {
  margin-top: 32px;
}

.news-page-section__items {
  display: grid;
  margin-top: 0;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px 16px;
}

.news-section__breadcrumbs {
  margin-top: 80px;
}

@media screen and (max-width: 1440px) {
  .section-news__description {
    gap: 64px;
  }

  .news-page-section__items {
    grid-template-columns: repeat(2, 1fr);
  }

  .news-item__top {
    margin-top: 0;
  }
}

@media screen and (max-width: 1200px) {
  .news-page-section__items {
    grid-template-columns: repeat(2, 1fr);
    gap: 24px 16px;
  }

  .news-item__top {
    margin-top: 12px;
  }
}

@media screen and (max-width: 768px) {
  .section-news__description {
    flex-direction: column;
    gap: 16px;
  }

  .news-page-section__items {
    grid-template-columns: repeat(1, 1fr);
    gap: 40px 16px;
  }

  .news-item__top {
    margin-top: 0px;
  }
}

@media screen and (max-width: 550px) {
  .news-page-section__items {
    grid-template-columns: repeat(1, 1fr);
  }

  .news-item__top {
    margin-top: 16px;
  }
}

@media screen and (max-width: 320px) {
}
