.section-news {
    .divider {
        margin-top: 32px;
    }
}

.section-single-news {
}

.section-news__description {
    display: flex;
    gap: 138px;
    align-items: flex-start;
    margin-top: 32px;
}

.news-section {
    margin-top: 120px;
}

.news-page-section__items {
    display: grid;
    margin-top: 0;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px 16px;
}

.news-section__breadcrumbs {
    margin-top: 80px;
}

@media screen and (max-width: 1440px) {
    .section-news__description {
        gap: 64px;
    }
}

@media screen and (max-width: 1200px) {
    .news-page-section__items {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .section-news__description {
        flex-direction: column;
        gap: 16px;
    }
}

@media screen and (max-width: 550px) {
    .news-page-section__items {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width: 320px) {
}
