.header {
    background: $bgBlack;
    color: $textWhite;
    border-bottom: 2px solid $bgAccent;
    padding: 16px 0;
    position: relative;
    z-index: 15;
    top: 0;
    position: sticky;
}

.header__wrap {
    display: flex;
    align-items: center;
}

.header__btns {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 8px;
}

.header__logo {
    display: block;
    width: 140px;

    img {
        width: 100%;
        display: block;
        height: auto;
    }
}

@media (max-width: 1440px) {
}

@media screen and (max-width: 1200px) {
    .header {
        padding: 12px 0;
    }

    .header__logo {
        width: 120px;
    }
}

@media screen and (max-width: 768px) {
    .header {
        padding: 10px 0;
    }

    .header__logo {
        width: 100px;
    }

    .header__cb {
        display: none;
    }
}

@media screen and (max-width: 550px) {
}

@media screen and (max-width: 320px) {
}
